body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: skyblue;
  height: 100vh;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
